@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color: #f99806;
    --secondary-color: #fabd7a;
    --accent1-color: #6C4436;
    --accent1-color-transparence: rgb(108, 68, 54 , 0.8);
    --accent2-color: #136f63;

    --heading-font: Roboto, Sans-serif;
    --paragraph-font: Roboto, Sans-serif;

    --nav-background-color: #136f63;
    --nav-link-color: #f99806;
    --nav-hover-link-color: #6C4436;
    --nav-hover-background-color: #fabd7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 860px;
    padding: 20px;
}

h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 20px 0px;
}

main p {
    padding: 5px;

}

main section img {
    width: 500px;
}


a {
    text-decoration: none;
}

footer img {
    padding: 0.1rem;
    width: 30px;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 100px;
}

.hero article {
    background-color: var(--accent1-color-transparence);
    position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    color: var(--primary-color);
    padding: 5px;
}

.hero article img {
    width: 200px;
    float:right;
    margin: 10px;
}



