@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Sans-serif;
    font-size: 1.3rem;
    color: #0B006B;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #7e7e7e;
    border-radius: 15px;
    background-color: rgb(207, 207, 207);
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    padding: 1rem;
}

legend {
    font-size: 1.3rem;
    padding: .5rem;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, monospace;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select,textarea {
    padding: 0.6rem;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #0B006B;
    color: #fff;
    font-size: 1.2rem;
}

button:hover{
    background-color: #322c68;
    cursor: pointer;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.75rem;
    border-top: 1px solid #CCC;
}

.form-item {
    display: grid;
    align-items: center;
    justify-content: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
}