* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

main{
    max-width: 640px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    position: relative;
    text-align: center;
}

aside h2{
    position: absolute;
    top: 25px;
    left: 90px

}

aside img {
    width: 250px;
    height: auto;
}

footer{
    margin-top:15px ;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ACC8E5;
    color: #112A46;
}